<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- css -->
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <footer>
      <section class="social-footer">
      <img src="/images/header/logo-kopenhagen.png" />
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-youtube"></i>

        <form>
          <label for="">Nome</label>
          <label for="">E-mail</label>
          <button class="button-footer">cadastrar</button>
        </form>
        </section>
      <section class="footer-container">
        <section class="links-footer">
          <ul class="list-footer">
            <strong class="title">INSTITUCIONAL</strong>
            <li><a class="link-footer">Sobre a Kopenhagen</a></li>
            <li><a class="link-footer">Fale Conosco</a></li>
            <li><a class="link-footer">Trabalhe Conosco</a></li>
            <li><a class="link-footer">Kop to Company</a></li>
            <li><a class="link-footer">Nossas Lojas</a></li>
            <li><a class="link-footer">catálogo Completo</a></li>
            <li><a class="link-footer">Seja um Franqueado</a></li>
            <li><a class="link-footer">Kop Club</a></li>
            <li><a class="link-footer">Regulamento Kop Club</a></li>
            <li><a class="link-footer">Governança Corporativa</a></li>
          </ul>
          <ul class="list-footer">
            <strong class="title">AJUDA E SUPORTE</strong>
            <li><a class="link-footer">Trocas e devoluções</a></li>
            <li><a class="link-footer">Política de privacidade </a></li>
            <li><a class="link-footer">Política Promocional</a></li>
            <li><a class="link-footer">Política de Pagamento</a></li>
            <li><a class="link-footer">Política de Entrega</a></li>
            <li><a class="link-footer">Política de Cookies</a></li>
            <li><a class="link-footer">Dúvidas Frequentes</a></li>
            <li><a class="link-footer">Regulamento Convide e <br/>Ganhe</a></li>
            <li><a class="link-footer">Conecte-se<a></li>
            <li><a class="link-footer">Catálogo Completo</a></li>
          </ul>
          <ul class="list-footer">
            <strong class="title">COMPRE SEGURO</strong>
            <li><a class="link-footer">Trocas e devoluções</a></li>
            <li><a class="link-footer">Política de privacidade </a></li>
            <li><a class="link-footer">Política Promocional</a></li>
            <li><a class="link-footer">Política de Pagamento</a></li>
          </ul>
        </section>

      </section>
    </footer>
  </body>
</html>
