<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kopenhagen</title>
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <div class="info-store">Compra e receba ainda hoje</div>
    <header>
      <nav>
        <img src="/images/header/logo-kopenhagen.png" alt="logo kopenhagen" />
        <input class="input-header" type="text" placeholder="Busque por chocolates deliciosos" />

        <i class="fa-regular fa-headphones"></i>
        <i class="fa-regular fa-heart"></i>
        <i class="fa-regular fa-user"> </i>
        <span>
          Minha conta <br />
          Meus pedidos
        </span>

        <a class="link-header" href="#"
          ><img src="/images/header/sacola-icon.jpg" alt="sacola icon"
        /></a>
      </nav>
      <ul>
        <li><a class="link-header">DIAS DAS CRIANÇAS</a></li>
        <li><a class="link-header">PRESENTES</a></li>
        <li><a class="link-header">CLÁSSICOS</a></li>
        <li><a class="link-header">NOSSAS LINHAS</a></li>
        <li><a class="link-header">LINHA FIT</a></li>
        <li><a class="link-header">KOFFE & CO</a></li>
        <li><a class="link-header">INFANTIL</a></li>
        <li><a class="link-header">KOP CLUB</a></li>
      </ul>
    </header>
  </body>
</html>
