<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <section class="products-kits">
      <div class="kits">
        <img
          src="/images/home/classicos-kopenhagen.webp"
          alt="clássicos"
          width="220px"
          height="220px"
        />
        <p class="name-kits">clássicos</p>
      </div>
      <div class="kits">
        <img
          src="/images/home/presentes.webp"
          alt="presentes"
          width="220px"
          height="220px"
        />
        <p class="name-kits">presentes até 49,90</p>
      </div>
      <div class="kits">
        <img
          src="/images/home/presentes-2.webp"
          alt="presentes-2"
          width="220px"
          height="220px"
        />
        <p class="name-kits">presentes até 69,90</p>
      </div>
      <div class="kits">
        <img
          src="/images/home/presentes-3.webp"
          alt="presentes-3"
          width="220px"
          height="220px"
        />
        <p class="name-kits">presentes até 129,90</p>
      </div>
      <div class="kits">
        <img
          src="/images/home/kits.webp"
          alt="kits e combos"
          width="220px"
          height="220px"
        />
        <p class="name-kits">kits e combos</p>
      </div>
      <div class="kits">
        <img
          src="/images/home/soul-gold.webp"
          alt="soul-gold"
          width="220px"
          height="220px"
        />
        <p class="name-kits">sould good</p>
      </div>
    </section>
  </body>
</html>
