<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <section class="kopenhagen">
        <h3 class="title-vitrine">Descubra a Kopenhagen</h3>
        <section class="kopenhagen-vitrine">
        <div class="kopenhagen-slide">
            <img src="/images/home/slide-1.webp" width="550px" />
        </div>
        <div class="kopenhagen-slide">
            <img src="/images/home/slide-2.webp" width="550px"  />
        </div>
        <div class="kopenhagen-slide">
            <img src="/images/home/slide-3.webp" width="550px"  />
        </div>
    </section>
    </section>
</body>
</html>